table {
    border-collapse: collapse;
    margin: 0 auto;
    text-align: center;
}

table td,
table th {
    border: 1px solid #9bc2cf;
    color: #333;
    height: 30px;
}

table thead th {
    background-color: #9bc2cf;
    color: #fff;
}

table tr:nth-child(odd) {
    background: #f7fbfc;
}

table tr:nth-child(even) {
    background: #d8eaf2;
}
